<style>
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sign-in-form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .header{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #a-logo{
        height: 50px;
        width: 160px;
        object-fit: cover;
        padding: 10px;
    }
    #input-box{
        height: 30px;
        width: 296px;
        border: 0.5px solid rgba(0, 0, 0, 0.495);
        border-radius: 5px;
    }
    .form{
        height: 320px;
        width: 300px;
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(0, 0, 0, 0.144);
        border-radius: 6px;
        padding: 20px 28px;
    }

    #btn1{
        text-decoration: none;
        height: 29px;
        width: 294px;
        color: black;
        background-color: rgb(255, 213, 0);
        border: 2px solid rgb(255, 213, 0);
        border-radius: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #f-h1{
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;

    }
    #input-box{
        height: 30px;
        width: 296px;
        border: 0.5px solid rgba(0, 0, 0, 0.495);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #input-box:hover{
        border: 2px solid #007185;
    }
    #s-label{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    #terms{
        font-size: 12px;
        text-decoration: none;
        color: black;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    #help{
        color: #007185;
        font-size: 14px;
        text-decoration: none;
        margin-top: 15px;
    }
    .suggestion hr{
        width: 330px;
        opacity: 0.5;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .for-new{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .create-acc{
        height: 29px;
        width: 348px;
        color: black;
        padding: 0px 10px 0px 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.447);
        border-radius: 40px;
        font-size: 13px;
        font-weight: 530;
        margin-bottom: 30px;
    }
    #btn2{
        text-decoration: none;
        color: black;
    }
    .create{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #l1{
        font-size: 14px;
        font-weight: 700;
        color: #0f1111;
        margin-bottom: 5px;
    }
    #l2{
        font-size: 14px;
        color: #007185;
    }
    .f1{
        text-decoration: none;
        margin-right: 20px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 25px;
    }
    .terms{
        text-decoration: none;
        color: #007185;
        font-size: 12px;
    }
    .f2{
        margin-top: 12px;
        color: #565959;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    .sign-up{
        text-decoration: none;
        color: black;
    }
</style>

<div class="header">
    <%= image_tag 'logo.png', id: "a-logo" %>
</div>
<div class="sign-in-form">

    <div class="form">
        <%= form_with url: sessions_path, method: :post, local: true do |form|%>
                    <h1 id = "f-h1">Sign in</h1>
                    <div class="label1">
                        <%= form.label :login, 'Email or mobile phone number', id: "s-label" %>
                        <%= form.text_field :login, id: "input-box" %>
                        <%= form.submit "Continue", id: "btn1" %>
                    </div>
        <% end %>
    
        <div class="suggestion">
                    <%= link_to 'By continuing, you agree to Amazons Conditions of Use and Privacy Notice.', "#", id: "terms" %>
                    <br>
                    <br>
                    <%= link_to 'Need help?', "#",id: "help" %>
                    <hr>
                    <div class="base">
                        <div id = "l1">Buying for work?</div>
                            <span id = "l2">Shop on Amazon Business</span>
                        </div>
                    </div>
        </div>
    </div>

    <div class="for-new"> 
        <p> New to Amazon? </p> 
    </div>
<div class="create">
    <div class="create-acc">
        <%= link_to render_signup_path, class: "sign-up" do %>
            <p id= "btn2"> Create your Amazon account </p> 
        <% end %>
    </div>
</div>
    <hr style="border-top:1px solid rgba(128, 128, 128, 0.32) ;">
    <br>
    <div class = "footer">
        <div class="f1">
            <%= link_to 'Conditions of Use', "#",class: "terms" %> 
            <%= link_to 'Privacy Notice', "#",class: "terms" %>
            <%= link_to 'Help', "#",class: "terms" %> 
        </div>

        <div class="f2">
            <span>© 1996-2025, Amazon.com, Inc. or its affiliates</span>
        </div>
    </div>
</div>

