<div class="footer">
    <div class="foot-panel1">
        <p id="f-text">Back to top</p>
    </div>

    <div class="foot-panel2">
        <div class="column">
            <div class="col1 c">
                <div class="footer-col">
                    Get to Know Us
                </div>
                <div class="line">
                    <%= link_to 'Blog', "#"%> 
                    <br/>
                    <%= link_to 'About Amazon', "#"%> 
                    <br/>
                    <%= link_to 'Investor Relations', "#"%> 
                    <br/>
                    <%= link_to 'Amazon Devices', "#"%> 
                    <br/>
                    <%= link_to 'Amazon Science', "#"%> 
                    <br/>
                </div>

            </div>
            <div class="col2 c">
                <div class="footer-col">
                    Make Money with Us
                </div>
                <div class="line">
                    <%= link_to 'Sell products on Amazon', "#" %>
                    <br/>
                    <%= link_to 'Sell on Amazon Business', "#" %>
                    <br/>
                    <%= link_to 'Sell apps on Amazon', "#" %>

                    <br/>

                    <%= link_to 'Become an Affiliate', "#" %>
                    <br/>
                 
                    <%= link_to 'Advertise Your Products', "#" %>
                    <br/>

                    <%= link_to 'Self-Publish with Us', "#" %>
                    <br/>
                    <%= link_to 'Host an Amazon Hub', "#" %>
                    <br/>
                    <%= link_to 'See More Make Money with Us', "#" %>
                    <br/>
                </div>
            </div>
            <div class="col3 c">
                <div class="footer-col">
                    Amazon Payment Products
                </div>

                <div class="line">
                    <%= link_to 'Amazon Business Card', "#" %>
                    <br/>
                    <%= link_to 'Shop with Points', "#" %>
                    <br/>
                    <%= link_to 'Reload Your Balance', "#" %>
                    <br/>
                    <%= link_to 'Amazon Currency Converter', "#" %>
                    <br/>

                </div>
            </div>
            <div class="col4 c">
            <div class="footer-col">
                Let Us Help You
            </div>

            <div class="line">
                <a>            
                    Amazon and COVID-19
                </a>
                <br/>

                <a>
                    Your Account
                </a>
                <br/>

                <a>
                    Your Orders
                </a>
                <br/>

                <a>
                    Shipping Rates & Policies
                </a>
                <br/>

                <a>
                    Returns & Replacements
                </a>
                <br/>

                <a>
                    Manage Your Content and Devices
                </a>
                <br/>

                <a>
                    Help
                </a>
                <br/>

            </div>
        </div>
    </div>
    </div>
    <!-- <hr/> -->
    <div class="foot-panel3">
        <span class = "logo-base">
            <div style="background-image: url('amazon_logo.png');">
            </div>
        </span>
        <a class = "button1 button">
            <div class = icon1><i class="fa-solid fa-globe"></i></div>
            <span>English</span>
        </a>
        <a class = "button2 button">
            <div class = icon2><i class="fa-solid fa-dollar-sign"></i></div>
            <span>USD - U.S.Doller</span>
        </a>
        <a class = "button3 button">
            <div class = icon3>
                <%= image_tag 'f-icon.png',id: "flag" %>
            </div>
            <span>United States</span>
        </a>
    </div>

    <div class="foot-panel4">

    </div>
    <div class="foot-panel5">
        <div class="footer-base">
            <div class="line1">
                <a href = "#">Conditions of Use</a>
                <a href = "#">Privacy Notice</a>
                <a href = "#">Consumer Health Data Privacy Disclosure</a>
                <a href = "#">Your Adds Privacy Choices
                    <span><i class="fa-regular fa-square-check"></i></span>
                </a>
            </div>
            <div class="line2">
                <span>
                    <i class="fa-regular fa-copyright"></i>
                </span>
                <p>1996-2025, Amazon.com, Inc.or its affiliates</p>
                
            </div>

        </div>
    </div>
</div>