<div class="hero-section">
    <%= image_tag 'hero1.jpg' %>
    <div class="hero-msg">
        <p id = "h-msg"> You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. </p>
        <%= link_to 'Click here to go to amazon.in', "#", id: "h-click" %>
    </div>

</div>

<!-- Products Section-->

<div class="product-section">
    <div class="row1 row">
        <div class="product1 products">
            <h3>New home arrivals under $50</h3>
            <div class="img1">
                <%= image_tag 'kitchen.jpg', class: "product img" %>
                <p>kitchen & dining</p>
            </div>
            <div>
                <%= image_tag 'h-i.jpg', class: "product img" %>
                <p>Home improvement</p>
            </div>
            <div>
                <%= image_tag 'decor.jpg', class: "product img" %>
                <p>Decor</p>
            </div>
            <div>
                <%= image_tag 'pillow.jpg', class: "product  img" %>
                <p>Bedding & bath</p>
            </div>
        </div>
        <div class="product2 products">
            <h3>Refresh your space</h3>
            <div class="img1">
                <%= image_tag 'Dining.jpg', class: "product img" %>
                <p>Dining</p>
            </div>
            <div>
                <%= image_tag 'H.jpg', class: "product img" %>
                <p>Home</p>
            </div>
            <div>
                <%= image_tag 'k.jpg', class: "product img" %>
                <p>Kitchen</p>
            </div>
            <div>
                <%= image_tag 'h&b.jpg', class: "product  img" %>
                <p>Health & beauty</p>
            </div>
        </div>
        <div class="product3 products">
            <h3>Shop for your home essentials</h3>
            <div class="img1">
                <%= image_tag 'CleaningTools.jpg', class: "product img" %>
                <p>Cleaning Tools</p>
            </div>
            <div>
                <%= image_tag 'HomeStorage.jpg', class: "product img" %>
                <p>Home Storage</p>
            </div>
            <div>
                <%= image_tag 'HomeDecor.jpg', class: "product img" %>
                <p>Home Decor</p>
            </div>
            <div>
                <%= image_tag 'Bedding.jpg', class: "product  img" %>
                <p>Bedding</p>
            </div>
        </div>
        <div class="product4 products">
            <h3>Toys under $25</h3>
            <div class="toy">
                <%= image_tag 'Toy.jpg', id: "toy" %>
            </div>
        </div>
    </div>

    <div class="row2 row">
          <div class="product1 products">
            <h3>New home arrivals under $50</h3>
            <div class="img1">
                <%= image_tag 'kitchen.jpg', class: "product img" %>
                <p>kitchen & dining</p>
            </div>
            <div>
                <%= image_tag 'h-i.jpg', class: "product img" %>
                <p>Home improvement</p>
            </div>
            <div>
                <%= image_tag 'decor.jpg', class: "product img" %>
                <p>Decor</p>
            </div>
            <div>
                <%= image_tag 'pillow.jpg', class: "product  img" %>
                <p>Bedding & bath</p>
            </div>
        </div>
        <div class="product2 products">
            <h3>Refresh your space</h3>
            <div class="img1">
                <%= image_tag 'Dining.jpg', class: "product img" %>
                <p>Dining</p>
            </div>
            <div>
                <%= image_tag 'H.jpg', class: "product img" %>
                <p>Home</p>
            </div>
            <div>
                <%= image_tag 'k.jpg', class: "product img" %>
                <p>Kitchen</p>
            </div>
            <div>
                <%= image_tag 'h&b.jpg', class: "product  img" %>
                <p>Health & beauty</p>
            </div>
        </div>
        <div class="product3 products">
            <h3>Shop for your home essentials</h3>
            <div class="img1">
                <%= image_tag 'CleaningTools.jpg', class: "product img" %>
                <p>Cleaning Tools</p>
            </div>
            <div>
                <%= image_tag 'HomeStorage.jpg', class: "product img" %>
                <p>Home Storage</p>
            </div>
            <div>
                <%= image_tag 'HomeDecor.jpg', class: "product img" %>
                <p>Home Decor</p>
            </div>
            <div>
                <%= image_tag 'Bedding.jpg', class: "product  img" %>
                <p>Bedding</p>
            </div>
        </div>
        <div class="product4 products">
            <h3>Toys under $25</h3>
            <div class="toy">
                <%= image_tag 'Toy.jpg', id: "toy" %>
            </div>
        </div>
    </div>
    </div>
</div>